# Read Imputs

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [2]:
dataTrain = pd.read_csv(r'S:\OneDrive - Schönherz Zoltán Kollégium\Munka\Állásinterjú\KPMG\titanic\DA_titanic_train.csv')
dataTest = pd.read_csv(r'S:\OneDrive - Schönherz Zoltán Kollégium\Munka\Állásinterjú\KPMG\titanic\DA_titanic_test.csv')

# Model

In [3]:
xTrain = dataTrain.drop(columns=['Survived', 'Name', 'SibSp', 'Ticket', 'PassengerId', 'Parch', 'Ticket', 'Cabin', 'Embarked'])
xTest = dataTest.drop(columns=['Name', 'SibSp', 'Ticket', 'PassengerId', 'Parch', 'Ticket', 'Cabin', 'Embarked'])
yTrain = dataTrain['Survived']
#xTrain.dtypes

In [4]:
labelEncoder = LabelEncoder()

In [5]:
xTrain['newPclass'] = labelEncoder.fit_transform(xTrain['Pclass'])
xTrain['newSex'] = labelEncoder.fit_transform(xTrain['Sex'])
xTrain['newAge'] = labelEncoder.fit_transform(xTrain['Age'])
xTrain['newFare'] = labelEncoder.fit_transform(xTrain['Fare'])

xTrain.newAge = xTrain.newAge.fillna(xTrain.newAge.mean())

xTrainNew = xTrain.drop(columns=['Pclass', 'Sex', 'Age', 'Fare'])
xTrainNew

     newPclass  newSex  newAge  newFare
0            2       1      27       15
1            0       0      50      175
2            2       0      33       34
3            2       1      46       35
4            1       0      17      129
..         ...     ...     ...      ...
619          1       1      35       53
620          2       1      32        9
621          0       0      23      128
622          2       0     149      108
623          2       1      41       23

[624 rows x 4 columns]

In [6]:
xTest['newPclass'] = labelEncoder.fit_transform(xTest['Pclass'])
xTest['newSex'] = labelEncoder.fit_transform(xTest['Sex'])
xTest['newAge'] = labelEncoder.fit_transform(xTest['Age'])
xTest['newFare'] = labelEncoder.fit_transform(xTest['Fare'])
xTestNew = xTest.drop(columns=['Pclass', 'Sex', 'Age', 'Fare'])
xTestNew

     newPclass  newSex  newAge  newFare
0            0       0      34       96
1            2       1      65       28
2            0       1      53       93
3            2       1       3       61
4            2       0      24       41
..         ...     ...     ...      ...
262          0       0      55      116
263          2       1      32       21
264          2       0      38       74
265          1       1      24       43
266          0       1      23       76

[267 rows x 4 columns]

In [7]:
model = DecisionTreeClassifier()

In [8]:
model.fit(xTrainNew, yTrain)

DecisionTreeClassifier()

In [9]:
model.score(xTrainNew, yTrain)

0.9951923076923077

In [10]:
yResultValue = 0
tmp = 0
yResultArray = []
dataTest['Survived'] = 0

In [11]:
for i in range(xTestNew['newPclass'].count()):
    tmp = model.predict([[xTestNew['newPclass'][i], xTestNew['newSex'][i], xTestNew['newAge'][i], xTestNew['newFare'][i]]])[0]
    dataTest.at[i, 'Survived'] = tmp
    yResultValue = yResultValue + tmp

# Result

In [12]:
yResultValue / xTestNew['newPclass'].count()

0.46441947565543074

In [13]:
dataTest.to_csv(r'S:\OneDrive - Schönherz Zoltán Kollégium\Munka\Állásinterjú\KPMG\titanic\DA_titanic_test_new.csv')